<!doctype html>
<html lang="ja">
  <head>
    <meta httpequiv="ContentType" content="text/html;charset=utf8" />
    <title id="test">{{ .title }}</title>
    <!-- <link rel="stylesheet" href="../resources/app.css"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../resources/appp.css" />
  </head>
  <body>
    <main class="form-signin w-100 m-auto">
      <form>
        <img
          class="mb-4"
          src="../resources/images/gopher.svg"
          alt=""
          width="72"
          height="57"
          loading="lazy"
        />
        <h1 class="h3 mb-3 fw-normal">サインインをどうぞ</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Emailアドレス</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="パスワード"
          />
          <label for="floatingPassword">パスワード</label>
        </div>

        <div class="form-check mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> 状態を記憶する
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          ログイン
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
